.mainMenu {
    border-radius: 24px 24px 0px 0px;
    background: #f2f2f2;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);

    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    padding: 8px 0 32px 0;

    ul {
        display: flex;
        justify-content: space-around;

        li {
            button {
                background: transparent;
                border: none;
                color: #bac8d9;
                position: relative;

                i {
                    font-size: 3rem;
                }

                span {
                    position: absolute;
                    width: 0px;
                    height: 0px;
                    background: #8694a6;
                    bottom: -12px;
                    left: 50%;
                    transform: translateX(-50%);
                    border-radius: 50%;
                }

                &.active {
                    color: #4f5f73;

                    span {
                        width: 8px;
                        height: 8px;
                    }
                }
            }
        }
    }
}
