/* RESET */
@import url(./assets/reset.css);

/* ICON FONT */
@import url(./assets/ico_font/css/icons.css);

/* GOOGLE FONT */
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

/* BODY MAIN */

body {
    background: url(./assets/mainBg.jpg) center center no-repeat;
    background-size: cover;
    min-width: 100vw;
    height: 100vh;

    font-size: 16px;
    line-height: 1.4;
    color: white;

    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
}

/* GENERAL */

.PageWrap {
    width: 100vw;
    height: calc(100vh - 150px);

    /* debug */
    /* background: red; */
}
